* {
  margin: 0;
  padding: 0;
}

.header-container {
  border: solid 1px black;
  margin: 10px;
}

.header-title {
  margin: 5px;
}

.tasks-container {
  margin: 5px;
}

.task {
  margin: 5px;
  display: block;
  border: solid 1px;
  padding: 5px;
}

.btn {
  padding: 5px;
  border: none;
  color: white;
}

.close-btn {
  float: right;
}

.AddTaskForm {
  margin: 10px;
  border: solid 1px black;
  padding: 10px;
}

.AddTaskForm input {
  display: block;
  margin: 10px;
}

.btnSubmit {
  padding: 5px;
  color: white;
  border: none;
}
